<button type="button" class="btn btn-large btn-block btn-default" (click)="cek()">cek</button>


 <select (change)="onChange($event.target.value)">
  <option value=""></option>  
  <option value="himpro">Himpro</option>
  <option value="kepanitiaan">Kepanitiaan</option>
 </select>

 <select [hidden] ="!terpilih" (change)="onChange($event.target.value)">
  <option value=""></option>    
  <option value="himpro">isi himpro</option>
  <option value="kepanitiaan">Kepanitiaan</option>
 </select> 

 <select [hidden] ="terpilih" (change)="onChange($event.target.value)">
  <option value=""></option>    
  <option value="himpro">isi kepanitian</option>
  <option value="kepanitiaan">Kepanitiaan</option>
 </select> 

    <div class="selectivity-input example-input"
         style="width: 300px; margin-bottom: 20px;">
      <h3>Select a city by country</h3>
      <ng-select [allowClear]="true"
                 [items]="items"
                 (data)="refreshValue($event)"
                 placeholder="No city selected"></ng-select>
      <p></p>
      <div>
        <button (click)="cek()"> cek
        </button>
      </div>
    </div>



    auto complete
    <input auto-complete [(ngModel)]="myData" [source]="items" [max-num-list]=10 />

    datepicker 
<ng2-datepicker [options]="options" [(ngModel)]="date"></ng2-datepicker>
<div>
    <p>Without JSON pipe:</p>
    <pre>{{object}}</pre>
    <p>With JSON pipe:</p>
    <pre>{{object | json}}</pre>
  </div>`


