<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <b>Daftar Nama Staff</b>
      <button type="button" class="btn btn-success btn-sm pull-right" data-toggle="modal" (click)="staffModal.show()">
        <i class="fa fa-plus"></i>&nbsp; Tambah staff
      </button>
    </div>
    <div class="card-block">
      <table datatable class="row-border hover" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
        <thead>
          <tr>
            <th>ID Staff</th>
            <th>Nama</th>
            <th>Jabatan</th>
            <th>Email</th>
            <th style="text-align: center">Aksi</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let staff of staffData">
            <td>{{ staff.id }}</td>
            <td>{{ staff.nama_staff }}</td>
            <td>{{ staff.jabatan.nama_jabatan }}</td>
            <td>{{ staff.email_staff }}</td>
            <td style="text-align: center">
              <button class="btn btn-danger btn-sm" (click)="deleteStaff(staff.id)">Hapus</button>
              <button class="btn btn-primary btn-sm" (click)="clickRow(staff)">Edit</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div bsModal #staffModal="bs-modal" class="modal fade" 
  tabindex="-1" role="dialog" aria-labelledby="disposisiModal" aria-hidden="true"
  [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 style="text-align:center;">Tambah Staff</h4>
        <button type="button" class="close" (click)="staffModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="staffForm">
          <div class="form-group">
            <label for="namaStaff">Nama staff</label>
            <input type="text" class="form-control" id="namaStaff" placeholder="Masukkan nama staff" formControlName="namaStaff">
          </div>
          <div class="form-group">
            <label for="jabatanStaff">Jabatan staff</label>
            <ng-select [items]="listJabatanStaff" placeholder="Pilih jabatan" formControlName="jabatanStaff">
            </ng-select>
          </div>
          <div class="form-group">
            <label for="emailStaff">Email staff</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Masukkan email staff"
              formControlName="emailStaff">
          </div>
          <button class="btn btn-primary pull-right" (click)="onSubmit()">Tambah</button>
        </form>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div bsModal #staffModalEdit="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="disposisiModal" aria-hidden="true"
  [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 style="text-align:center;">Edit Staff</h4>
        <button type="button" class="close" (click)="staffModalEdit.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="staffForm">
          <div class="form-group">
            <label for="namaStaff">Nama staff</label>
            <input type="text" class="form-control" id="namaStaff" placeholder="Masukkan nama staff" formControlName="namaStaff">
          </div>
          <div class="form-group">
            <label for="jabatanStaff">Jabatan staff</label>
            <ng-select [items]="listJabatanStaff" placeholder="Pilih jabatan" formControlName="jabatanStaff">
            </ng-select>
          </div>
          <div class="form-group">
            <label for="emailStaff">Email staff</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Masukkan email staff"
              formControlName="emailStaff">
          </div>
          <button class="btn btn-primary pull-right" [disabled]="!staffForm.valid" (click)="updateStaff()">Simpan</button>
        </form>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->