<button type="button" class="btn btn-large btn-block btn-default" (click)="cek()">cek</button>



    <div style="width: 300px; margin-bottom: 20px;">
      <h3>Select multiple cities</h3>
      <ng-select  [multiple]="true"
                  [items]="items"
                  [disabled]="disabled"
                  (data)="refreshValue($event)"
                  (selected)="selected($event)"
                  (removed)="removed($event)"
                  placeholder="No city selected"></ng-select>
      <pre>{{itemsToString(value)}}</pre>
    </div>

    auto complete
    <input auto-complete [(ngModel)]="myData" [source]="items" [max-num-list]=10 />

    datepicker 
<ng2-datepicker [options]="options" [(ngModel)]="date"></ng2-datepicker>