<div class="animated fadeIn">
  <div class="row">
  <!-- datatables for list suratmasuk -->
    <div class="col-sm-6 col-md-12">
      <div class="card card-accent-primary">
        <div class="card-header">
          <b>Daftar Lampiran</b>
          <button type="button" class="btn btn-success btn-sm pull-right" 
          style="border-radius:5px" data-toggle="modal" 
          (click)="changeFormType(0);resetForm();entryLampiranModal.show()" >
            <i class="fa fa-plus"></i>&nbsp; Tambah Lampiran
          </button>          
        </div>
        <div class="card-block">
          <div class="col-lg-12">
            <table datatable class="row-border hover" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
              <thead>
                <tr>
                  <th>No</th>                  
                  <th>judul</th>
                  <th>tanggal lampiran</th>
                  <th>tanggal entri</th>
                  <th>file</th>
                  <th>aksi</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let lampiran of list_lampiran; let i = index">
                  <td>{{i+1}}</td>
                  <td>{{lampiran.judul_lampiran}}</td>
                  <td>{{lampiran.tanggal_lampiran | date}}</td>
                  <td>{{lampiran.tanggal_entri_lampiran | date:'medium'}}</td>                  
                  <td>{{lampiran.file_lampiran}}</td>
                  <td>
                    <span>
                      <a href="javascript:void(0)" 
                      (click)="delete(lampiran.id);" >
                        <i class="fa fa-trash-o" aria-hidden="true" title="Hapus"></i>Delete
                      </a>
                    </span> &nbsp;
                    <span>
                      <a href="javascript:void(0)" 
                      (click)="changeFormType(1); clickRow(lampiran); editLampiranModal.show()">
                        <i class="fa fa-pencil-square-o" aria-hidden="true" title="Edit"></i>Update
                      </a>
                    </span>
                  </td>                    
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div><!--/.col-->
  
  </div>
</div>

<!-- form entri lampiran -->
<div bsModal #entryLampiranModal="bs-modal" class="modal fade" style="" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 style="text-align:center;" >Tambah Lampiran</h4>
         <button type="button" class="close" (click)="entryLampiranModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form" (submit)="submit()" class="form-horizontal" novalidate>
          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="text-input">Judul</label>
            <div class="col-md-9">
              <input type="text" id="judul_lampiran" formControlName="judul_lampiran" name="judul_lampiran" class="form-control" placeholder="judul lampiran">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="password-input">Tanggal Lampiran</label>
            <div class="col-md-9">
              <date-picker *ngIf = "form_type==0" [showClearButton]="false" formControlName="tanggal_lampiran" name="tanggal_lampiran"></date-picker>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="lampiran">Upload Lampiran</label>
            <div class="col-md-9">
              <input type="file" id="lampiran" name="lampiran" class="form-control" (change)="onChangeFile($event)" accept="application/pdf"  single required>
            </div>
          </div>
          <div class="progress" *ngIf="fileValid && uploadProgress!=100 " >
              <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="(uploadProgress/100)*100 + '%'" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">{{uploadProgress}} %
              </div>
          </div><br>          
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="cek()">Cek</button>
            <button type="button" class="btn btn-secondary" (click)="entryLampiranModal.hide()">Batal</button>
            <button type="submit" class="btn btn-primary" 
            [disabled]="!form.valid || !fileValid" 
            (click)="entryLampiranModal.hide()" >Simpan</button>            
          </div>          
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #editLampiranModal="bs-modal" class="modal fade" style="" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 style="text-align:center;" >Update Informasi Lampiran</h4>
         <button type="button" class="close" (click)="editLampiranModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form" (submit)="edit()" class="form-horizontal" novalidate>
          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="text-input">Judul</label>
            <div class="col-md-9">
              <input type="text" id="judul_lampiran" formControlName="judul_lampiran" name="judul_lampiran" class="form-control" placeholder="judul lampiran">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="password-input">Tanggal Lampiran</label>
            <div class="col-md-9">
              <date-picker *ngIf = "form_type==1" [showClearButton]="false" formControlName="tanggal_lampiran" name="tanggal_lampiran"></date-picker>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="lampiran">Upload Lampiran</label>
            <div class="col-md-9">
              <input type="file" id="lampiran" name="lampiran" class="form-control" (change)="onChangeFile($event)" accept="image/jpeg, application/pdf"  single required>
              <small class="help-block" style="color:crimson">Silahkan upload ulang jika ingin mengganti file lampiran</small>            
            </div>
          </div>
          <div class="progress" *ngIf="fileValid && uploadProgress!=100 " >
              <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="(uploadProgress/100)*100 + '%'" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">{{uploadProgress}} %
              </div>
          </div><br>          
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="editLampiranModal.hide()">Batal</button>
            <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Simpan</button>            
          </div>          
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->




