<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <b>Daftar Nama Unit Kerja</b>
      <button type="button" class="btn btn-success btn-sm pull-right" data-toggle="modal" 
      (click)="unitKerjaModal.show()">
        <i class="fa fa-plus"></i>&nbsp; Tambah Unit Kerja
      </button>
    </div>
    <div class="card-block">
      <table datatable class="row-border hover" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
        <thead>
          <tr>
            <th>ID Unit Kerja</th>
            <th>Nama</th>
            <th>Akronim</th>
            <th>Kode</th>
            <th style="text-align: center">Aksi</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let unitKerja of unitKerjaData">
            <td>{{ unitKerja.id }}</td>
            <td>{{ unitKerja.nama_unit_kerja }}</td>
            <td>{{ unitKerja.akronim_unit_kerja }}</td>
            <td>{{ unitKerja.kode_unit_kerja }}</td>
            <td style="text-align: center">
              <button class="btn btn-danger btn-sm">Hapus</button>
              <button class="btn btn-primary btn-sm">Edit</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div bsModal #unitKerjaModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" 
  aria-labelledby="unitKerjaModal" aria-hidden="true"
  [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 style="text-align:center;">Tambah Unit Kerja</h4>
        <button type="button" class="close" (click)="unitKerjaModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="unitKerjaForm">
          <div class="form-group">
            <label for="namaUnitKerja">Nama unit kerja</label>
            <input type="text" class="form-control" id="namaUnitKerja" 
            placeholder="Masukkan nama unit kerja" formControlName="namaUnitKerja">
          </div>
          <div class="form-group">
            <label for="akronimUnitKerja">Akronim unit kerja</label>
            <input type="text" class="form-control" id="akronimUnitKerja" 
            placeholder="Masukkan akronim unit kerja"
              formControlName="akronimUnitKerja">
          </div>
          <div class="form-group">
            <label for="kodeUnitKerja">Kode unit kerja</label>
            <input type="text" class="form-control" id="kodeUnitKerja" 
            placeholder="Masukkan kode unit kerja"
            formControlName="kodeUnitKerja">
          </div>
          <button class="btn btn-primary pull-right" (click)="onSubmit()">Tambah</button>
        </form>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->