<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      Perihal List
    </div>
    <div class="card-block">
      <table datatable class="row-border hover" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
        <thead>
          <tr>
            <th>Nomor</th>
            <th>Nama Perihal</th>
            <th style="text-align: center">Aksi</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let perihal of perihalData">
            <td>{{ ++1 }}</td>
            <td>{{ perihal.nama_perihal }}</td>
            <td style="text-align: center">
              <button class="btn btn-danger btn-sm">Hapus</button>
              <button class="btn btn-primary btn-sm">Edit</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      Form Tambah Perihal
    </div>
    <div class="card-block">
      <form class="">
        <div class="form-group" [formGroup]="perihalForm">
          <label for="namaPerihal">Perihal</label>
          <input type="text" class="form-control" id="namaPerihal" 
          placeholder="Masukkan perihal" formControlName="namaPerihal">
        </div>
        <button class="btn btn-primary pull-right" (click)="onSubmit()">Tambah</button>
      </form>
      <br>
    </div>
  </div>
</div>